<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Latest 300 loans from Zonky marketplace</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
<header>
    <h1>Latest 300 loans from Zonky marketplace</h1>
</header>
<section>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>Name</th>
            <th>Interest rate</th>
            <th>Term in months</th>
            <th>Remaining investment</th>
            <th>Amount</th>
            <th>Deadline</th>
            <th>Story</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="loan : ${loans}">
            <td th:text="${loan.id}"></td>
            <td><a th:href="${loan.url}" th:text="${loan.url}"></a></td>
            <td th:text="${loan.name}"></td>
            <td th:text="${loan.interestRate}"></td>
            <td th:text="${loan.termInMonths}"></td>
            <td th:text="${loan.remainingInvestment}"></td>
            <td th:text="${loan.amount}"></td>
            <td th:text="${loan.deadline}"></td>
            <td th:text="${loan.story}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
